In [3]:
import numpy as np
import pandas as pd

In [4]:
import os

input_files = os.listdir('../input/')
print(input_files)

['test.csv', 'train.csv', 'gender_submission.csv']

In [5]:
base_path = '../input/'
train_df = pd.read_csv(base_path + 'train.csv')
test_df = pd.read_csv(base_path + 'test.csv')
print(f'Columns in the training data ({train_df.shape[1]}):')
print(train_df.columns)
print()
print(f'Columns in the test data ({test_df.shape[1]}):')
print(test_df.columns)

Columns in the training data (12):
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Columns in the test data (11):
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [15]:
test_df.shape

(418, 11)

In [16]:
test_df.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [17]:
test_df.notna().all()

PassengerId     True
Pclass          True
Name            True
Sex             True
Age            False
SibSp           True
Parch           True
Ticket          True
Fare           False
Cabin          False
Embarked        True
dtype: bool

In [18]:
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
train_df.shape

(891, 12)

In [14]:
train_df.notna().all()

PassengerId     True
Survived        True
Pclass          True
Name            True
Sex             True
Age            False
SibSp           True
Parch           True
Ticket          True
Fare            True
Cabin          False
Embarked       False
dtype: bool

In [8]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

### Pclass

### Name

In [23]:
# train_df_name = train_df.copy()[['PassengerId', 'Name']]
# train_df_name['Name'] = le.fit_transform(train_df_name['Name'])
# test_df_name = test_df[['PassengerId', 'Name']]
# test_df_name['Name'] = le.transform(test_df['Name'])
# train_df_name.to_feather('../features/name.feather')

### Sex

In [ ]:
train_df_sex = train_df.copy()[['PassengerId', 'Sex']]
test_df_sex = test_df.copy()[['PassengerId', 'Sex']]

In [29]:
train_df_sex['Sex'] = le.fit_transform(train_df_sex['Sex'])
test_df_sex['Sex'] = le.transform(test_df_sex['Sex'])

train_df_sex.to_feather('../features/sex_train.feather')
test_df_sex.to_feather('../features/sex_test.feather')

### Age

In [16]:
train_df_age = train_df.copy()[['PassengerId', 'Age']]
test_df_age = test_df.copy()[['PassengerId', 'Age']]

In [18]:
train_df_age['AgeGroup'] = train_df_age['Age'].apply(lambda x: x // 10)
test_df_age['AgeGroup'] = test_df_age['Age'].apply(lambda x: x // 10)

train_df_age.to_feather('../features/age_train.feather')
test_df_age.to_feather('../features/age_test.feather')

### SibSp

### Parch

### Ticket

### Fare

### Cabin

In [ ]:
import random

lst = ['N' for _ in range(10)] + ['C', 'B', 'D', 'E', 'A', 'F', 'G', 'T']

train_df['Cabin_Type'] = train_df['Cabin'].apply(lambda x: 'NaN' if type(x) != str and np.isnan(x) else x[0])
train_df['Cabin_Type'] = le.fit_transform(train_df['Cabin_Type'])
test_df['Cabin_Type'] = test_df['Cabin'].apply(lambda x: random.choice(lst) if type(x) != str and np.isnan(x) else x[0])
test_df['Cabin_Type'] = le.transform(test_df['Cabin_Type'])

# train_df['Cabin_Number'] = train_df['Cabin'].apply(lambda x: 'NaN' if type(x) != str and np.isnan(x) else x[1:])

In [ ]:
train_df['Cabin'] = train_df['Cabin'].apply(lambda x: 'NaN' if type(x) != str and np.isnan(x) else x)
# train_df['Cabin'] = le.fit_transform(train_df['Cabin'])
# test_df['Cabin'] = test_df['Cabin'].apply(lambda x: 'NaN' if type(x) != str and np.isnan(x) else x)
# test_df['Cabin'] = le.transform(test_df['Cabin'])

### Embarked

In [42]:
train_df_embarked = train_df.copy()[['PassengerId', 'Embarked']]
train_df_embarked['Embarked'] = train_df_embarked['Embarked'].apply(lambda x: 'NaN' if type(x) != str and np.isnan(x) else x)
train_df_embarked['Embarked'] = le.fit_transform(train_df_embarked['Embarked'])
test_df_embarked = test_df.copy()[['PassengerId', 'Embarked']]
test_df_embarked['Embarked'] = test_df_embarked['Embarked'].apply(lambda x: 'NaN' if type(x) != str and np.isnan(x) else x)
test_df_embarked['Embarked'] = le.transform(test_df_embarked['Embarked'])

train_df_embarked.to_feather('../features/embarked_train.feather')
test_df_embarked.to_feather('../features/embarked_test.feather')